@{
    ViewBag.Title = "Pdf Example";
    Layout = null;
}

@model dynamic
           
<style>

body
{
    background-color: white;
}



</style>

<h1>

    Here can be any html content + custom styles

</h1>

<h2>This is a pdf html template example</h2>
<p>
     Put content here. This is a usual mvc view
</p>


   


